<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
<h6 class="navbar-text">&copy; Created by Sardar Oryakhel Copyright 2022. All Rights Reserved Email: oryakhelsardar@gmail.com</h6>
</nav>
</body>
</html> 